;;;
"layout": "login",
"title": "Welcome"
;;;

%section
	.container
		.col-sm-3
		.col-sm-6
			.panel.panel-default.login-panel
				.panel-heading
					.text-center.margin-top
						=image_tag '/images/logo_white.png', :width=>"150px", :class=>"half-margin-bottom"
					.clearfix
						%h2.text-center.bold-font-name.no-margin-bottom
							Employer Portal
				.panel-body
					%p.text-center.quarter-margin-top.bold-font-name{:style=>"line-height:18px;"}
						No account?
						%a{:href=>"/employer/account/new"}
							Sign Up
					%form
						.margin-bottom
							%input.form-control.login-input.input-lg{:placeholder => "Email", :type => "text"}
							%input.form-control.login-input-pass.input-lg{:placeholder => "Password", :type => "password"}
					%a.btn.btn-primary.btn-block.btn-lg{:href=>"/employer"}
						Login
			.text-center
				%h3
					%a{:href=>"/", :style=>"color:white; text-decoration:underline;"}
						I'm a candidate
		.col-sm-3
