// color vars

$primary-color: #138abb;
$primary-color-dark: shade($primary-color,50%);
$primary-color-light: tint($primary-color,50%);
$secondary-color: #f47b2c;
$tertiary-color: #ffd266;
$light-gray-color: #f2f2f2;
$gray-color:#dddddd;
$green-color: #85C342;
$yellow-color:#ffd266;
$text-color: #545a5f;
$heading-text-color: shade($primary-color,30%);
$dark-text-color: #4a4a4a;
$black-color:#111111;
$link-color: #1384b2;