 @media screen and (-webkit-min-device-pixel-ratio:0) { 
 select:focus, textarea:focus, input:focus, ::-webkit-input-placeholder {
 		font-size: 16px;
  }
 }

.login-input {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.login-input-pass {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}









