.btn{
	&.btn-primary{
		background:$primary-color;
		border-color:$primary-color;
		&:hover{
			border-color:$primary-color;
		}
	}
}

.btn{
	&.btn-default{
		background:$primary-color-dark;
		color:white;
	}
}

a{
	&:hover{
		text-decoration:none;
	}
	&:focus{
		text-decoration:none;
		outline: none;
	}
}