.side-nav{
	padding:$baseline/2;
	padding-top:17px;
	background:$primary-color;
	border:none;
	width:250px;
	p,h1,h2,h3,h4,h5,h6,a{
			color:white;
			line-height:$baseline/1.2;
	}
	a{
		&.logotype{
			font-size:1.5em;
			padding-bottom:$baseline/2;
			border-bottom:1px solid rgba(255,255,255,.2);
			font-family:$regular-font-name;
			display:block;
			color:rgba(255,255,255,.8);
			&:hover{
				color:white;
			}
		}
		&.side-menu-link{
			border-bottom:1px solid rgba(255,255,255,.2);
			padding:$baseline/2 0;
			display:block;
			color:rgba(255,255,255,.8);
			@include transition-duration(.2s);
			padding-bottom:$baseline/2;
			font-family:$bold-font-name;
			&:hover{
				color:white;
			}
		}
		&.menu-thumbnail{
			.new{
				float: right;
				width:10px;
				height:10px;
				background:$green-color;
				display:block;
				left:5px;
				border-radius:100px;
				margin-bottom: -10px;
				bottom: 22px;
			}
			.logo-container{
			}
			.thumb{
				top:3px;
			}
			border-bottom:1px solid rgba(255,255,255,.2);
			display:block;
			padding:$baseline/2 0;
			p{
				margin-bottom:0;
			}
		}
	}
}
