.side-nav{
	padding:$baseline/2;
	padding-top:17px;
	background:shade($primary-color,70%);
	border:none;
	width:200px;
	p,h1,h2,h3,h4,h5,h6,a{
			color:white;
			font-size:.7em;
			margin-bottom:0!important;
			padding-bottom:$baseline/2;
			font-family:$bold-font-name;
	}
	a{
		&.logotype{
			font-size:1em;
			margin-bottom:$baseline;
			border-bottom:1px solid rgba(255,255,255,.2);
			font-family:$light-font-name;
			display:block;
			color:rgba(255,255,255,.8);
			&:hover{
				color:white;
			}
		}
		&.side-menu-link{
			border-bottom:1px solid rgba(255,255,255,.2);
			padding:$baseline/2 0;
			display:block;
			color:rgba(255,255,255,.8);
			@include transition-duration(.2s);
			&:hover{
				color:white;
			}
		}
	}
}
