.panel{
	&.login-panel{
		border:none;
		.panel-heading{
			background-color:$primary-color;
			@extend .white-text;
		}
		.panel-body{
			background-color:#f2f2f2;
		}
	}
	&.card{
		border:1px solid #f2f2f2!important;
		.panel-footer{
			background-color:#fafafa;
		}
		hr{
			margin:12px 0;
		}
	}
}