//lg
@media (max-width: 1200px) {

.panel .card, .item-wrapper-outer{
		height:500px;
	}

}

//md

@media (max-width: 992px) {

.panel .card, .item-wrapper-outer{
		height:500px;
	}

}

//sm

@media (max-width: 767px) {

body{
	font-size:9pt;
	line-height: $baseline;
}
p{
	line-height:$baseline/1.3;
}

.panel .card, .item-wrapper-outer{
		height:430px!important;
	}

}

//xs

@media (max-width: 400px) {

.panel .card, .item-wrapper-outer{
		height:335px!important;
	}

}