//lg
@media (max-width: 1200px) {



}

//md

@media (max-width: 992px) {



}

//sm

@media (max-width: 767px) {

body{
	font-size:9pt;
	line-height: $baseline;
}
p{
	line-height:$baseline/1.3;
}

}

//xs

@media (max-width: 320px) {


}