// typography baselines and @font face setups

@font-face {
    font-family: 'socialicoregular';
    src: url('../font/socialico-webfont.eot');
    src: url('../font/socialico-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/socialico-webfont.woff') format('woff'),
         url('../font/socialico-webfont.ttf') format('truetype'),
         url('../font/socialico-webfont.svg#socialicoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'museo_sans_700regular';
    src: url('../font/museosans_700-webfont.eot');
    src: url('../font/museosans_700-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/museosans_700-webfont.woff') format('woff'),
         url('../font/museosans_700-webfont.ttf') format('truetype'),
         url('../font/museosans_700-webfont.svg#museo_sans_500regular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'museo_sans_500regular';
    src: url('../font/museosans_500-webfont.eot');
    src: url('../font/museosans_500-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/museosans_500-webfont.woff') format('woff'),
         url('../font/museosans_500-webfont.ttf') format('truetype'),
         url('../font/museosans_500-webfont.svg#museo_sans_500regular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'museo_sans_900regular';
    src: url('../font/museosans_900-webfont.eot');
    src: url('../font/museosans_900-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/museosans_900-webfont.woff') format('woff'),
         url('../font/museosans_900-webfont.ttf') format('truetype'),
         url('../font/museosans_900-webfont.svg#museo_sans_900regular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'museo_sans_300regular';
    src: url('../font/museosans-300-webfont.eot');
    src: url('../font/museosans-300-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/museosans-300-webfont.woff') format('woff'),
         url('../font/museosans-300-webfont.ttf') format('truetype'),
         url('../font/museosans-300-webfont.svg#museo_sans_300regular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'museo_sans_100regular';
    src: url('../font/museosans-100-webfont.eot');
    src: url('../font/museosans-100-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/museosans-100-webfont.woff') format('woff'),
         url('../font/museosans-100-webfont.ttf') format('truetype'),
         url('../font/museosans-100-webfont.svg#museo_sans_100regular') format('svg');
    font-weight: normal;
    font-style: normal;

}





// font vars

$light-font-name:'museo_sans_100regular', Helvetica, Arial, sans-serif;
$regular-font-name:'museo_sans_300regular', Helvetica, Arial, sans-serif;
$medium-font-name:'museo_sans_500regular', Helvetica, Arial, sans-serif;
$bold-font-name:'museo_sans_700regular', Helvetica, Arial, sans-serif;
$extra-bold-font-name:'museo_sans_900regular', Helvetica, Arial, sans-serif;
$social-font-name: 'socialicoregular';


//text columns


$text-column-gutter-width: $baseline;

.text-columns-2{
  @include columns($text-column-gutter-width 2);
}
.text-columns-3{
  @include columns($text-column-gutter-width 3);
}
.text-columns-4{
  @include columns($text-column-gutter-width 4);
}

.text-uppercase{
  text-transform:uppercase;
}

.text-color{
  color:$text-color;
}

.text-success{
  color:$green-color;
}

.link-color{
  color:$link-color;
}


//font families

.light-font-name{
    font-family:$light-font-name;
}
.regular-font-name{
    font-family:$regular-font-name;
}
.medium-font-name{
    font-family:$medium-font-name;
}
.bold-font-name{
    font-family:$bold-font-name!important;
}
.extra-bold-font-name{
    font-family:$extra-bold-font-name;
}

.social-font-name{
    font-family:$social-font-name;
}


//font color

.primary-text-color{
  color:$primary-color!important;
  p{
    color:$primary-color!important;
  }
}

.secondary-text-color{
  color:$secondary-color!important;
  p{
    color:$secondary-color!important;
  }
}

.white-text{
  h1,h2,h3,h4,h5,h6,p,small,li{
    color:white!important;
  }
}

//font size

.micro-text{
  font-size:.7em;
}


//font base


h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { 
  font-weight: inherit; 
}
h1, h2, h3, h4, h5, h6, p {
  margin:0;
  margin-bottom:$baseline/2; 
  color:$text-color;
}

h1{
  font-family:$regular-font-name;
}
h2{
  font-family:$regular-font-name;
}
h3{
  font-family:$medium-font-name;
}
h4{
  font-family:$extra-bold-font-name;
}
h5{
  font-family:$extra-bold-font-name;
}
h6{
  font-family:$medium-font-name;
}

p,li{
  font-family:$regular-font-name;
}

p{
  margin-bottom:$baseline/2;
}



p  {font-size: 1em; line-height:$baseline/1.3;}
h1 { font-size: 2.4em; line-height:$baseline*2.1;}
h2 { font-size: 1.6em; line-height:$baseline*1.7;}
h3 { font-size: 1.3em; line-height:$baseline*1.3;}
h4 { font-size: 1em; line-height:$baseline;}
h5 { font-size: 0.8em; line-height:$baseline*1;}
h6 { font-size: 0.7em; line-height:$baseline; text-transform:uppercase;}

h1,h2{
  color:$heading-text-color;
}

h3,h4,h5,h6{
  color:#2b2e30;
}

.text-center{
  text-align:center!important;
}

blockquote{
  border:none!important;
  padding-left:$baseline/4;
  font-size: .8em; 
  line-height:$baseline;
  font-family:$regular-font-name;
  footer{
    margin-top:$baseline/2;
  }
}

.line-through{
  text-decoration:line-through;
}

.microtext{
  font-size:.8rem;
  line-height:10px;
}


ul{
  &.tag-skills{
    list-style:none;
    li{
      float: left;
      background:tint($text-color,90%);
      padding:0px 10px;
      margin:3px;
    }
  }
}

.label-info{
  background:$primary-color;
}



