%table#table.display.table.table-hover.margin-top.border-bottom
	%thead
		%tr
			%th.bs-checkbox
			%th
				.fa.fa-heart
			%th
				Name
			%th{"data-hide"=>"phone"}
				Date Liked
			%th{"data-hide"=>"phone"}
				Match Score
			%th{"data-hide"=>"phone"}
				Actions
	%tbody
		%tr
			%td.bs-checkbox
			%td
				.fa.fa-heart-o
			%td
				%a{:href=>"/employer/candidates/show"}
					Matt Fiedler
			%td
			%td.text-success
				96%
			%td
				.fa.fa-thumbs-up.margin-right
				.fa.fa-thumbs-o-down
		%tr
			%td.bs-checkbox
			%td
				.fa.fa-heart
			%td
				%a{:href=>"/employer/candidates/show"}
					Alex Lauderdale
			%td
				5/13/2014
			%td.text-success
				92%
			%td
				.fa.fa-thumbs-up.margin-right
				.fa.fa-thumbs-o-down
			%tr
				%td.bs-checkbox
				%td
					.fa.fa-heart-o
				%td
					%a{:href=>"/employer/candidates/show"}
						Ethan Martin
				%td
				%td.text-success
					90%
				%td
					.fa.fa-thumbs-up.margin-right
					.fa.fa-thumbs-o-down
			%tr
				%td.bs-checkbox
				%td
					.fa.fa-heart-o
				%td
					%a{:href=>"/employer/candidates/show"}
						First Name Last Name
				%td
				%td.text-success
					85%
				%td
					.fa.fa-thumbs-up.margin-right
					.fa.fa-thumbs-o-down
			%tr
				%td.bs-checkbox
				%td
					.fa.fa-heart
				%td
					%a{:href=>"/employer/candidates/show"}
						First Name Last Name
				%td
					6/6/2014
				%td.text-success
					82%
				%td
					.fa.fa-thumbs-up.margin-right
					.fa.fa-thumbs-o-down
			%tr
				%td.bs-checkbox
				%td
					.fa.fa-heart-o
				%td
					%a{:href=>"/employer/candidates/show"}
						First Name Last Name
				%td
				%td
					73%
				%td
					.fa.fa-thumbs-o-up.margin-right
					.fa.fa-thumbs-o-down
			%tr
				%td.bs-checkbox
				%td
					.fa.fa-heart
				%td
					%a{:href=>"/employer/candidates/show"}
						First Name Last Name
				%td
					5/23/2014
				%td
					65%
				%td
					.fa.fa-thumbs-o-up.margin-right
					.fa.fa-thumbs-o-down
			%tr
				%td.bs-checkbox
				%td
					.fa.fa-heart-o
				%td
					%a{:href=>"/employer/candidates/show"}
						First Name Last Name
				%td
				%td
					55%
				%td
					.fa.fa-thumbs-o-up.margin-right
					.fa.fa-thumbs-down
			%tr
				%td.bs-checkbox
				%td
					.fa.fa-heart
				%td
					%a{:href=>"/employer/candidates/show"}
						First Name Last Name
				%td
					5/12/2014
				%td
					43%
				%td
					.fa.fa-thumbs-o-up.margin-right
					.fa.fa-thumbs-down
			%tr
				%td.bs-checkbox
				%td
					.fa.fa-heart-o
				%td
					%a{:href=>"/employer/candidates/show"}
						First Name Last Name
				%td
				%td
					35%
				%td
					.fa.fa-thumbs-o-up.margin-right
					.fa.fa-thumbs-down

		%tfoot.hidden
			%tr
				%th
					Name
				%th
					Type
				%th
					Job Role
				%th
					Status
				%th
					Tests
				%th
					Date Created
				%th
					Actions