;;;

"layout": "employer",
"activeclass": "candidates"
  
;;;

%section.no-padding-top
	.container
		.row
			.col-lg-12
				.page-header
					%h1.main-page-header
						%span.half-margin-right
							%small
								%i.fa.fa-users 
						Candidate Manager
				%p.margin-bottom
					Select an opportunity below to see candidates that have liked your posting. Click on their names to view their profiles and start a conversation. 
		.row.margin-bottom
			.col-sm-3
				%select.form-control.pull-left
					%option
						Opportunity 1
			.col-sm-3
				%select.form-control.pull-left
					%option
						Bulk Actions
			.col-sm-6
				%form.navbar-form.navbar-right.no-margin-top{role: "search"}
					.form-group
						%input.form-control.round-input{type:"text", placeholder:"search"}
		.row
			.col-lg-12
				=partial "/employer/candidates/candidates_table"