;;;

"layout": "employer",
"activeclass": "candidates"
  
;;;

%section
	.container
		.row
			.col-lg-12
				.page-header
					%h1.main-page-header
						%span.half-margin-right
							%small
								%i.fa.fa-users 
						Candidate Manager
				%p.margin-bottom
					Select an opportunity below to see candidates that have liked your posting. Click on their names to view their profiles and start a conversation. 
		.row.margin-bottom
			.col-lg-12
				%p.no-margin-bottom
					.btn-group
						%button.btn.btn-default{type: "button"}
							Opportunity
						%button.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown", type: "button"}
							%span.caret
							%span.sr-only
								Toggle Dropdown
						%ul.dropdown-menu{role: "menu"}
							%li
								%a{:href=>"#"}
									Opportunity 1
							%li
								%a{:href=>"#"}
									Opportunity 2
							%li
								%a{:href=>"#"}
									Opportunity 3
							%li
								%a{:href=>"#"}
									Opportunity 4
					.btn-group
						%button.btn.btn-default{type: "button"}
							Bulk Actions
						%button.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown", type: "button"}
							%span.caret
							%span.sr-only
								Toggle Dropdown
						%ul.dropdown-menu{role: "menu"}
							%li
								%a{:href=>"#"}
									Like
							%li
								%a{:href=>"#"}
									Dislike
					%form.navbar-form.navbar-right.no-margin-top{role: "search"}
						.form-group
							%input.form-control{type:"text", placeholder:"search"}
						%button.btn{type:"submit"}
							Submit
		.row
			.col-lg-12
				=partial "/employer/candidates/candidates_table"