;;;

"layout": "modal_small"
  
;;;

:javascript
	$(document).ready(function(){

		var slider = new Slider('.slider-2', {
		formatter: function(value) {
		return 'Current value: ' + value;
		}
		});
	});


.modal-content
	.modal-header
		%button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
		%h2.modal-title 
			New Job Opportunity
	%section.invert-section.progress-indacator.hidden-xs
		.padded
			.col-sm-4
				.text-center.stage
					.label.label-success
						1
					%p.no-margin-bottom.text-uppercase.quarter-margin-top
						%a{"data-dismiss" => "modal", "data-toggle"=>"modal", :href=>"/employer/opportunities/new", "data-target"=>"#newOpportunityModal"}
							%small
								%span.step-text
									Job Details
			.col-sm-4
				.text-center.stage
					.label.label-success
						2
					%p.no-margin-bottom.text-uppercase.quarter-margin-top
						%a{"data-dismiss" => "modal", "data-toggle"=>"modal", :href=>"/employer/opportunities/new2", "data-target"=>"#newOpportunityModalTwo"}
							%small
								%span.step-text
									Job Skills
			.col-sm-4
				.text-center.stage
					.label.label-success
						3
					%p.no-margin-bottom.text-uppercase.quarter-margin-top
						%small
							%span.step-text.active
								Culture Fit
	.modal-body
		%h3
			Culture Fit
		%p
			Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse mi est, venenatis eget libero ut, faucibus tristique urna. Nam est nisi, dapibus eget ante eget, consectetur iaculis nibh. Donec tempor dolor enim, vel laoreet sem vulputate sit amet.
		%form{role: "form"}
			.well
				.form-group.no-margin-bottom
					.row
						.col-xs-10
							%select.form-control.quarter-margin-bottom
								%option
									Problem Solving
							%input.slider-2{"data-slider-id" => "ex1Slider", "data-slider-max" => "20", "data-slider-min" => "0", "data-slider-step" => "1", "data-slider-value" => "14", :type => "text"}/
							.clearfix
							.pull-left
								%p.text-left
									Value
							.pull-right
								%p.text-right
									Value
							.clearfix
						.col-xs-2
							%h2.text-right{:style=>"position: relative; top: -36px; left: 25px;"}
								%a{:href=>"#"}
									%i.fa.fa-times-circle
			%a{:href=>"#"}
				+ Add a new cultural fit metric


	.modal-footer
		.pull-left
			%button.btn-link.cursor-pointer.half-margin-right.quarter-margin-top{"data-dismiss" => "modal"} 
				Save & Exit
		.pull-right
			%a.btn.btn-info.btn-lg{"data-dismiss" => "modal", "data-toggle"=>"modal", :href=>"/employer/opportunities/new2", "data-target"=>"#newOpportunityModalTwo"}
				%i.fa.fa-chevron-left
				Back
			%a.btn.btn-success.btn-lg{"data-dismiss" => "modal"}
				Save & Publish