#showOpportunityModal.modal.full-page-modal{"aria-hidden" => "true", role: "dialog"}
	.modal-dialog.modal-lg
		.modal-content
	

#showOpportunityLikeModal.modal.full-page-modal{"aria-hidden" => "true", role: "dialog"}
	.modal-dialog.modal-lg
		.modal-content

#matchAlertModal.modal.modal-sm{"aria-hidden" => "true", role: "dialog"}
	.modal-dialog.modal-lg
		.modal-content
