%nav#mainLeftNavSideMenu.navmenu.navmenu-default.navmenu-fixed-left.offcanvas.side-nav{:role => "navigation"}
	%a.logotype{:href=>"/home"}
		Wellhire
	%a.side-menu-link{:href=>"#"}
		%i.fa.fa-user.quarter-margin-right
		Profile
	%a.side-menu-link{:href=>"/"}
		%i.fa.fa-circle.quarter-margin-right
		Sign Out
%nav#mainNavRightSideMenu.navmenu.navmenu-default.navmenu-fixed-right.offcanvas.side-nav{:role => "navigation"}
	%p
		Stuff...
.navbar.navbar-default.main-nav-topbar
	.container
		%a.menu-toggle.topbar-btn.navbar-btn.btn.pull-left{"data-canvas" => "body", "data-target" => "#mainLeftNavSideMenu", "data-toggle" => "offcanvas", :href=>"javascript:void(0);"}
			%i.fa-bars.fa.quarter-margin-right
			Menu
		%a.menu-toggle.topbar-btn.navbar-btn.btn.pull-right{"data-canvas" => "body", "data-target" => "#mainNavRightSideMenu", "data-toggle" => "offcanvas", :href=>"javascript:void(0);"}
			%i.fa-bell.fa
			.label.label-danger
				3
