<!doctype html>
%html
	%head
		=partial"shared/scripts"

		%body{:class => page_classes, :animation => "slide-left-right-ios7", "ng-app" => "starter"}
			= partial "layouts/header"
			/end menu
			.main
				= yield
			/end main content
			= partial "layouts/footer"
