<!doctype html>
%html
  %head
    =partial"shared/scripts"

    %body{:class => page_classes}
      = partial "layouts/header"
      /end menu
      = yield
      /end main content
      = partial "layouts/footer"
