;;;

"layout": "modal_small"
  
;;;


.modal-body
	.container
		.row.margin-bottom
			.col-lg-12
				.pull-left
					%p.no-margin-bottom.bold-font-name{:style=>"margin-top:2px;"}
						%a.text-danger.no-btn.margin-right{ "data-dismiss" => "modal", :href=>"javaScript:void(0);"} 
							%i.fa.fa-times
							Not Interested
						%a.text-success.yes-btn{ "data-dismiss" => "modal", :href=>"javaScript:void(0);"} 
							%i.fa.fa-check
							Interested
				%button.close.pull-right{ "data-dismiss" => "modal", type: "button"} 
					×

		.row
			.col-lg-12
				.text-center
					=image_tag "company_logo.png", :class=>"img-responsive img-thumbnail margin-bottom"
				.pull-left
					%p.no-margin-bottom.bold-font-name
						Alpha Sites Worldwide
					%p.no-margin-bottom
						Designer
				.pull-right.text-right.match-label
					%p.no-margin-bottom
						Match
					%p.no-margin-bottom
						98%
				.clearfix
				%hr
				%p.bold-font-name	
					About
				%p.no-margin-bottom
					Recently nammed the UK's 3ed fastest growing company by Sunday Times Track 100. Alpha Sights is on the leading edge of the knowledge revolution. Operating out of knowladge hubs across the UK, America and Europe, our analysts connect thousands of business investment professionals with experts who help them quickly get up to speed on solutions.
					
				%hr
				.row
					.col-xs-4.text-center
						%i.fa.fa-location-arrow
						%p.microtext.bold-font-name.no-margin-bottom
							New York, NY
					.col-xs-4.text-center
						%i.fa.fa-suitcase
						%p.microtext.bold-font-name.no-margin-bottom
							Full-time
					.col-xs-4.text-center
						%i.fa.fa-dollar
						%p.microtext.bold-font-name.no-margin-bottom
							Competitive
				%hr
				%p.bold-font-name	
					Job Skills
				.tag-labels
					%ul.tag-skills
						%li
							UX design
						%li
							Graphic design
						%li
							Visual communication
						%li
							UI interface skills
				.clearfix
				%hr
				%p.bold-font-name	
					Job Description
				%p.no-margin-bottom
					Recently nammed the UK's 3ed fastest growing company by Sunday Times Track 100. Alpha Sights is on the leading edge of the knowledge revolution. Operating out of knowladge hubs across the UK, America and Europe, our analysts connect thousands of business investment professionals with experts who help them quickly get up to speed on solutions.
