.card
	.card-body
		.text-center
			=image_tag "{{card.image}}", :class=>"img-responsive half-margin-bottom"
	.card-footer
		.pull-left
			%p.no-margin-bottom.bold-font-name
				{{card.title}}
			%p.no-margin-bottom
				Designer
		.pull-right.text-right
			%p.no-margin-bottom
				Match
			%p.no-margin-bottom
				98%
		.clearfix
		%hr
		%p.no-margin-bottom
			{{card.description}}
			%br
		%p.text-center.no-margin-bottom
			%a.arrow{"data-toggle"=>"modal", :href=>"/opportunities/show", "data-target"=>"#showOpportunityModal"}
				%i.fa.fa-chevron-down
		%hr
		.row
			.col-xs-4.text-center
				%i.fa.fa-location-arrow
				%p.microtext.bold-font-name.no-margin-bottom
					New York, NY
			.col-xs-4.text-center
				%i.fa.fa-suitcase
				%p.microtext.bold-font-name.no-margin-bottom
					Full-time
			.col-xs-4.text-center
				%i.fa.fa-dollar
				%p.microtext.bold-font-name.no-margin-bottom
					Competitive
		.row.half-padding-top
			.col-lg-12
				.margin-auto.text-center.card-picker-btn-group
					%a.text-danger.yes-btn{"ng-click" => "reject()"}
						%i.fa.fa-times
					%a.info-btn{"data-toggle"=>"modal", :href=>"/opportunities/show", "data-target"=>"#showOpportunityModal"}
						%i.fa.fa-info-circle
					%a.text-success.no-btn{"ng-click" => "accept()"}
						%i.fa.fa-check
