


%section.no-padding-top
	.container
		.row
			.col-md-2
			.col-md-8
				.item-wrapper-outer
					.item-wrapper-inner{"no-scroll" => "enabled"}
						%pane.pane{"ng-controller" => "CardsCtrl"}
							%swipe-cards
								%swipe-card#start-card{"on-swipe" => "cardSwiped()"}
									Swipe instructions
								%swipe-card{"ng-repeat" => "card in cards", "on-destroy" => "cardDestroyed($index)", "on-swipe" => "cardSwiped($index)"}
									%div{"ng-controller" => "CardCtrl"}
										=partial"home/card"


