%section.no-padding-top
	.container
		.col-md-1
		.col-md-10
			.panel.card.panel-default
				.pabel-body
					.text-center
						=image_tag "http://fillmurray.com/500/200", :class=>"img-responsive"
				.panel-footer
					%p.no-margin-bottom.bold-font-name
						Vanway
					%p.no-margin-bottom
						Operations Expert
					%hr
					%p.half-margin-bottom
						This job venenatis purus placerat hendrerit. Nunc sed magna eleifend, rhoncus odio id, porttitor mi. Etiam nec porttitor tellus. 
					%p
						%a{:href=>"#"}
							More
							%i.fa.fa-arrow-right
		.col-md-1
