.main-nav-topbar{
	background:$primary-color-dark;
	border-radius:0;
	border:none;
	a{
		&.topbar-btn{
			color:$primary-color;
			z-index: 999;
		}
		color:white!important;
	}
}

img.navbar-logo{
	margin-top:12px;
}