.main-nav-topbar{
	background:transparent;
	border-radius:0;
	border:none;
	margin-bottom:0;
	a{
		&.topbar-btn{
			color:$primary-color;
			z-index: 999;
		}
		color:tint($text-color,30%)!important;
	}
}