$card-height: 390px;

.card-picker-btn-group{
	a{
		font-size:$baseline*1.5;
    cursor:pointer;
		&:focus{
				outline: none;
			}
		&.yes-btn{
			margin-right:$baseline;
		}
		&.no-btn{
			margin-left:$baseline;
		}
		&.info-btn{
			color:$text-color;
		}
	}
}

.card-wrapper-outer{
  .card-wrapper-inner{
    .card{
      background-color:white;
      .card-body{
      }
      .card-footer{
        padding:$baseline;
        padding-top:0;
        padding-bottom:$baseline/2;
      }
      .arrow{
        color:$text-color;
      }
    }
  }
}