.card-picker-btn-group{
	a{
		font-size:$baseline*1.5;
		&:focus{
				outline: none;
			}
		&.yes-btn{
			margin-right:$baseline;
		}
		&.no-btn{
			margin-left:$baseline;
		}
		&.info-btn{
			color:$text-color;
		}
	}
}

.match-label{

}