.card-picker-btn-group{
	a{
		font-size:$baseline*1.5;
		&:focus{
				outline: none;
			}
		&.yes-btn{
			margin-right:$baseline;
		}
		&.no-btn{
			margin-left:$baseline;
		}
		&.info-btn{
			color:$text-color;
		}
	}
}

//card items

.item-wrapper-outer{
		height:500px;
	}

.item-wrapper{
	width:100%;
	.item{
		width: 100%;
		height:100%;
		background:white;
		&:nth-child(1){
			z-index: 99;
		}
		&:nth-child(2){
			-ms-transform: rotate(1deg); /* IE 9 */
			-webkit-transform: rotate(1deg); /* Chrome, Safari, Opera */
			transform: rotate(1deg);
		}
		&:nth-child(3){
			-ms-transform: rotate(-1deg); /* IE 9 */
			-webkit-transform: rotate(-1deg); /* Chrome, Safari, Opera */
			transform: rotate(-1deg);
		}
	}
}