%nav#mainNavLeftSideMenu.navmenu.navmenu-default.navmenu-fixed-left.offcanvas.side-nav{:role => "navigation"}
	/ %a.logotype{:href=>"/home"}
	/ 	Wellhire
	%a.side-menu-link{:href=>"/home"}
		%i.fa.fa-briefcase
		Opportunities
	%a.side-menu-link{:href=>"/profile"}
		%i.fa.fa-user
		Profile
	%a.side-menu-link{:href=>"/preferences"}
		%i.fa.fa-gear
		Preferences
	%a.side-menu-link{:href=>"/"}
		%i.fa.fa-sign-out
		Sign Out