%nav#mainLeftNavSideMenu.navmenu.navmenu-default.navmenu-fixed-left.offcanvas.side-nav{:role => "navigation"}
	%a.logotype{:href=>"/home"}
		Wellhire
	%a.side-menu-link{:href=>"/home"}
		%i.fa.fa-briefcase.quarter-margin-right
		Browse Opportunities
	%a.side-menu-link{:href=>"#"}
		%i.fa.fa-user.quarter-margin-right
		Profile
	%a.side-menu-link{:href=>"/"}
		%i.fa.fa-sign-out.quarter-margin-right
		Sign Out