%nav#mainNavRightSideMenu.navmenu.navmenu-default.navmenu-fixed-right.offcanvas.side-nav{:role => "navigation"}
	%nav#mainRightNavSideMenu.navmenu.navmenu-default.navmenu-fixed-left.offcanvas.side-nav{:role => "navigation"}
	.margin-bottom
		%p.bold-font-name
			Matches
		%a.menu-thumbnail{:href=>"/matches/show"}
			.media
				.pull-left
					.logo-container.half-margin-right
						%img.media-object.thumb.img-thumbnail{:src => "/images/company_logo.png", :width=>"60px"}
					.new
				.media-body
					%p.media-heading
						%strong
							Alpha Sights
					%p
						How long have you been working in the...
		%a.menu-thumbnail{:href=>"/matches/show"}
			.media
				.pull-left
					.logo-container.half-margin-right
						%img.media-object.thumb.img-thumbnail{:src => "/images/company_logo_3.png", :width=>"60px"}
				.media-body
					%p.media-heading
						%strong
							BitPay
					%p
						Fantastic!
	.margin-bottom
		%p.bold-font-name
			Incoming Likes
		%a.menu-thumbnail{"data-toggle"=>"modal", :href=>"/opportunities/show_like", "data-target"=>"#showOpportunityLikeModal"}
			.media
				.pull-left
					.logo-container.half-margin-right
						%img.media-object.thumb.img-thumbnail{:src => "/images/company_logo_2.png", :width=>"60px"}
					.new
				.media-body
					%p.media-heading
						%strong
							Facebook
					%p
						Designer