%section.no-padding-top
	.container
		.row
			.col-md-2
			.col-md-8
				.panel.profile
					.panel-header.padding-top.padding-bottom
						.text-center
							=image_tag '/images/avatar.jpg' , :class=>"img-circle profile-img half-margin-bottom img-thumbnail"
							%p.no-margin-bottom.bold-font-name
								Bill Murry
							%p.no-margin-bottom
								Actor
					.panel-body
						%p.extra-bold-font-name
							Summary
						%p
							qui autem soluta totam. sed et consectetur hic nobis aut in quod
						%hr
						%p.extra-bold-font-name
							Job Skills
						.tag-labels
						%ul.tag-skills
							%li
								UX design
							%li
								Graphic design
							%li
								Visual communication
							%li
								UI interface skills
			.col-md-2