;;;

"layout": "modal_small"
  
;;;


.modal-body
	.container
		.row
			.col-lg-12
				%p.close.pull-right{ "data-dismiss" => "modal", type: "button"}
					×

		.row
			.col-lg-12
				.text-center
					=image_tag "company_logo_2.png", :class=>"img-responsive"
					%h3.no-margin-bottom
						It's a match!
					%p
						You can now chat with Facebook. Facebook has been added to your match conversations. 
					%div
						%a.btn.btn-primary.half-margin-right.btn-sm{:href=>"/matches/show"}
							Chat Now
						%a.btn.btn-default.btn-sm{:href=>"javaScript:void(0);",  "data-dismiss" => "modal",}
							Later