%section.no-padding-top
	.container
		.row
			.col-md-2
			.col-md-8
				.panel.profile
					.panel-body
						.text-center
							=image_tag 'company_logo.png', :class=>"img-responsive"
							=image_tag 'chat_holder.png', :class=>"img-responsive no-margin-bottom"
			.col-md-2