%section.no-padding-top
	.container
		.row
			.col-md-2
			.col-md-8
				.panel.profile
					.panel-body
						.text-center
							%p.no-margin-bottom
								Conversation with company you have been matched with!
			.col-md-2