 @media screen and (-webkit-min-device-pixel-ratio:0) { 
 select:focus, textarea:focus, input:focus, ::-webkit-input-placeholder {
 		font-size: 16px;
  }
 }

 input.round-input{
 	border-radius:100px!important;
 }





//autocomplete
.dropdown-autocomplete{
	display:block;
	width:100%;
}




