//modals

.modal{
  .close{
    z-index: 99;
  }
  .modal-header{
    background-color:#fafafa;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    h1{
      color:shade($primary-color,30%);
    }
  }
  .modal-footer{
    background-color:#fafafa;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
  }
  &.modal-scroll{
    .modal-body{
      max-height:600px;
      overflow:scroll;
    }
  }
}

.modal-icon{
  font-size:4em;
  position:relative;
}


//progress indicator

.progress-indacator{
  background:shade($primary-color,50%) url(../images/progress_indicator_bg.png) repeat-x 0px 35px;
  padding:0 0 $baseline 0;
  margin-bottom:$baseline;
  display: inline;
  float: left;
  width: 100%;
  z-index:300;
  .label-default{
    color:black;
  }
  p{
    color:white;
    a{
      color:white;
    }
    .step-text{
      padding:3px 8px;
      border-radius:100px;
      &.active{
        background-color:shade($primary-color,70%);
      }
      a{
        color:white;
        text-decoration:none;
        &:hover{
          text-decoration:underline;
        }
      }
    }
  }
  .label{
    border:4px solid shade($primary-color,55%);
  }
}

.opportunity-modal{
  .well{
    background-color:white;
  }
}