;;;
"layout": "login",
"title": "Home"
;;;

%section
	.container
		.col-md-3
		.col-md-6
			.panel.panel-default.login-panel
				.panel-heading
					.text-center.margin-top
						=image_tag '/images/logo_white.png', :width=>"150px", :class=>"half-margin-bottom"
					.clearfix
						%h4.text-center.light-font-name.no-margin-bottom
							Connect your linkedin account
				.panel-body
					%p.text-center
						%small
							Wellhire uses LinkedIn to build your profile for you. Login in below to get started.
					%form#linkedInConnect
						.margin-bottom
							%input.form-control.login-input.input-lg{:placeholder => "Email", :type => "text"}
							%input.form-control.login-input-pass.input-lg{:placeholder => "Password", :type => "password"}
					%a.btn.btn-primary.btn-block.btn-lg{:href=>"/home"}
						%i.fa.fa-linkedin.half-margin-right
						Linkedin Connect
		.col-md-3
