;;;
"layout": "login",
"title": "Home", 
"activeclass": "home"
;;;

%section
	.container
		.col-lg-12
			%a.btn.btn-primary.btn-block{:href=>"/home"}
				%i.fa.fa-linkedin.half-margin-right
				Connect With Linkedin
